
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - ./.env.${ENV}
    restart: unless-stopped
    environment:
      # App settings
      DEBUG: "True"
      LOG_LEVEL: "INFO"
    volumes:
      - .:/app/backend 
      
      # Add other vars as needed
    extra_hosts:
      - "host.docker.internal:host-gateway"  # Linux compatibility
    networks:
      - app-network
  nginx:
    build:
      context: ../nginx
      dockerfile: Dockerfile
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME:-localhost}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../nginx/certs:/etc/nginx/certs:ro
    restart: unless-stopped

    depends_on:
      - backend
    networks:
      - app-network
networks:
  app-network:
    driver: bridge